/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,700&display=swap');

/* Animations */

@keyframes appear-text{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rev-block{
    0%{
        right: 0;
        width: 100%;
    }

    
    100%{
        right: 0;
        width: 0%;
    }
    
}



/*design*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.headbar h4, li, a, button{
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    color:black;
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:rgb(8, 115, 77);
}

.headbar button{
    padding: 9px 25px;
    background-color: rgb(223, 227, 230,0%);
    border:none;
    cursor: pointer;
    transition: all 0.3s ease 0s;


}

.headbar button:hover{
    color:rgb(8, 115, 77);

}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(223, 227, 230,50%);
}

head{
    margin: 0px;
    overflow: hidden;
}
.heading{
    margin-left: 25%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    padding-bottom: 8px;
}

h1{
    color: black;
    transform: translate(50%,50%);
    animation-delay: 1.4s;
    text-align: center;
    position: relative;
    margin-left: 5%;
    top:-3px;
    right: 610px;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    font-size: 40px;

}

.timeof{
    background-color: seagreen;
    color:rgb(255, 254, 252);
    border-radius: 6px;
    padding: 5px;
    margin-top: -20px;
    height: 70px;
}

.timeof h2{
    position: relative;
    top: 15px;
    right: -20px;
}

.reveal-block{
    position: absolute;
}

.reveal-block span{
    opacity: 0;
    animation: appear-text 0.1s linear forwards;
    animation-delay: 1s;
}

.reveal-block:after {
    content: '';
    top:-3px;
    right:610px;
    position: absolute;
    width: 0%;
    height: 100%;
    background: white;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s;
    
}


.top--pic{
    position: absolute;
    top:-50px;
    right:-50px;
}

.home--page--pic{
    margin:0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

#head_pic{
    position:relative;

    width: 100%;
    height: 100vh;
    color: white;
    font-family: Poppins;
    background: url("images/green-nature-tgy6dtxhgtwubez9.jpg");
    background-size: 160%;
    background-position: center;
    background-attachment: fixed;
    

}

.head_pic p1{
    position:relative;
    text-align: center;
    top:-3px;
    right:50px;
    font-weight: 500;
    font-size: 30px;
}

.head_pic p2{
    position:relative;
    text-align: center;
    top:-3px;
    right:50px;
    font-weight: 300;
    font-size: 10px;
}

.img1{
    float:left;
    height: 400px;
    width: auto;
    top: 10px;
    right: 30px;
    padding: 10px;
    margin-right: -5px;
    margin-bottom: 20px;
    
}
    
    
    .img2{
        float:right;
        height: 400px;
        width: auto;
        top: 10px;
        right: 5px;
        padding: 20px;
       
    }
    .img3{
        float:left;
        height: 400px;
        width: auto;
        top: 10px;
        right: 35px;
        padding: 20px;
        margin-right: 50px;
       
    }
    .img4{
        float:right;
        height: 400px;
        width: auto;
        top: 10px;
        right: 5px;
        padding: 20px;
    }
    .img5{
        float:left;
        height: 400px;
        width: auto;
        top: 10px;
        right: 40px;
        padding: 20px;
        
    }
    .img6{
        float:right;
        height: 400px;
        width: auto;
        top: 10px;
        right: -20px;
        padding: 20px;
        
        
    }

.morn{
    font-size:medium;
    text-align:left;
    text-justify: auto;
    font-family:'Poppins';
    
   
    
}
.After{
    font-size:medium;
    text-align:left;
    text-justify: auto;
    font-family:'Poppins';
    }
.Eve{
    font-size:medium;
    text-align:left;
    text-justify: auto;
    font-family:'Poppins';
  
   
    
}

.eat{
    font-size:medium;
    text-align:left;
    text-justify: auto;
    font-family:'Poppins';
    
}
.ub{
    text-align: right;
}

.morn,.After,.Eve {
    position: relative;
    size-adjust: cover;
    overflow: hidden;
    width: 98%;
    margin: 15px;
    padding: 30px;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-position: center;
    background-attachment: fixed;
   
    
    img{
      position: relative;
      padding-left: 60px;
      padding-right: 60px;
    }
   

}

#head_pic{
    position:relative;

    width: 100%;
    height: 68vh;
    color: white;
    font-family: Poppins;
    background: url("images/Top-18-things-to-do-in-Church-Street-of-Bangalore.png");
    background-size: 160%;
    background-position: center;
    background-attachment: fixed;
    

}

p1{
    position:relative;
    text-align: center;
    top:150px;
    right:-300px;
    font-weight: 700;
    font-size: 70px;
    animation: appear-text 3s linear forwards;
}

.list{
    position: relative;
    right: -60px;
}